#coluna-verde,#coluna-azul {
  height: 100vh;
}

#coluna-verde {
  background-color: green;
}

#coluna-azul {
  background-color: blue;
}

#bloco {
  height: 250px;
  width: 250px;
  background-color: black;
  z-index: 999999;
}
